[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/resources_controller"]
	path = vendor/plugins/resources_controller
	url = git://github.com/ianwhite/resources_controller.git
